[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
betterjira = {path = ".", editable = true}
jira = ">=2.0"

[dev-packages]
pytest = ">=3.7"
twine = "*"
tox = "*"

[requires]
python_version = "3.7"
